
.catalog{
    position:absolute;
    align-items: center;
    left:20px;
    top:5px;
}
.palka{
    width: 20px; 
    height: 1px;
    background-color: gray;
    align-items: center;
    margin-bottom: 3px;
}


.nameTeam {
    position: relative;
    top: 0px; /* Aligns at the top */
    left: 550px;
    font-size: 14px; 
    align-items: center;
}

.buttonBack{
    position: absolute; /* Position it over .back23 */
    width: 32px; 
    height: 32px;
    background-color: #ffffff;
    left: 250px; /* Align with .back23 */
    top: 50px; /* Start from the top of .back23 */
    z-index: 2; /* Ensure it appears above .back23 */
    border-radius: 100%; /* Keep this if desired */
}

.back23 {
    position: relative; /* Keep it relative for positioning context */
    width: 700px; 
    height: 400px;
    left: 0px;
    background-color: #2F424A;
    z-index: 1; /* Ensure it's behind .back233 */
}

.back233 {
    position: absolute; /* Position it over .back23 */
    width: 180px; 
    height: 200px;
    background-color: #ffffff;
    left: 250px; /* Align with .back23 */
    top: 100px; /* Start from the top of .back23 */
    z-index: 2; /* Ensure it appears above .back23 */
    border-radius: 3%; /* Keep this if desired */
    
}
